html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
*:focus {
  outline: none;
}
* {
  box-sizing: border-box;
}
.float_left {
  float: left;
}
.float_right {
  float: right;
}
.vertical_center {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:active {
  text-decoration: underline;
}
html,
body {
  height: 100%;
  max-height: 100%;
}
.col-1 {
  float: left;
  width: 8.33%;
}
.col-2 {
  float: left;
  width: 16.66%;
}
.col-3 {
  float: left;
  width: 25%;
}
.col-4 {
  float: left;
  width: 33.33%;
}
.col-5 {
  float: left;
  width: 41.66%;
}
.col-6 {
  float: left;
  width: 50%;
}
.col-7 {
  float: left;
  width: 58.33%;
}
.col-8 {
  float: left;
  width: 66.66%;
}
.col-9 {
  float: left;
  width: 75%;
}
.col-10 {
  float: left;
  width: 83.33%;
}
.col-11 {
  float: left;
  width: 91.66%;
}
.col-12 {
  float: left;
  width: 100%;
}
.col-20 {
  float: left;
  width: 20%;
}
[class^="col-"],
[class*=" col-"] {
  float: left;
}
.row {
  width: 100%;
}
.row:before,
.row:after {
  content: "";
  clear: both;
}
body {
  background-color: #31374C;
}
.container {
  font-family: 'Roboto';
  width: 900px;
}
.container > div {
  background-color: #F8F7F0;
  padding: 35px;
  width: 350px;
  height: 500px;
  margin: 25px;
  border: 1px solid black;
}
.container > div .header {
  border-bottom: 1px solid #141b3f;
  height: 30px;
}
.container > div .header > div {
  margin: 0 15px;
  line-height: 20px;
  font-size: 15px;
  letter-spacing: 0.5px;
}
.container > div .header > div:nth-child(2) {
  color: #b4b4b4;
  font-size: 13px;
}
.container > div .notes {
  padding: 10px 15px;
  border-bottom: 1px solid #c8c8c8;
}
.container > div .notes > p:nth-child(1) {
  color: #444;
  font-size: 14px;
}
.container > div .notes > p:nth-child(2) {
  color: #b4b4b4;
  font-size: 11px;
  line-height: 20px;
}
.container > div .notes:last-child {
  border: none;
}
.container > div .footer {
  border-top: 1px solid #141b3f;
  height: 60px;
  padding: 15px 0 15px;
}
.container > div .footer > div:nth-child(1) {
  height: 25px;
  background-size: 19px;
  background-image: url(../images/check.png);
  background-repeat: no-repeat;
  background-position: center;
}
.container > div .footer > div:nth-child(2) {
  height: 25px;
  background-size: 13px;
  background-image: url(../images/close.png);
  background-repeat: no-repeat;
  background-position: center;
}
.container > div .footer > div:nth-child(3) {
  height: 25px;
  background-size: 20px;
  background-image: url(../images/upload.png);
  background-repeat: no-repeat;
  background-position: center;
}
.container > div .footer > div:nth-child(4) {
  height: 25px;
  background-size: 17px;
  background-image: url(../images/zoom.png);
  background-repeat: no-repeat;
  background-position: center;
}
.container > div .footer > div:nth-child(5) {
  height: 25px;
  background-size: 15px;
  background-image: url(../images/menu.png);
  background-repeat: no-repeat;
  background-position: center;
}
.container > div:nth-child(2) p {
  font-size: 14px;
  color: #777;
  margin: 15px;
}
